/* Overall CSS styling */

body {
    font-size: 17px;
}

/*Navigation styling */

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #cc4e0b;
    /*border: 5px solid #03244d;*/
    /*border: 1px solid #ddd;*/
    border-bottom: 5px solid #ddd;
    /*border-bottom-color: transparent;*/
}
 
 /*Regular Tabs*/ 
 
    .nav-tabs>li>a:hover {
    border-bottom: 5px solid #ddd;
    border-color: #03244d #03244d #cc4e0b;
    }

    .nav-tabs>li>a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid #03244d; 
        border-radius: 4px 4px 0 0;
        background-color:#03244d;
        border-bottom: 5px solid #ddd;
    }    
    
    .format-tabs {
        background-color: #fff;
        font-size: 15px;
    }

    .format-items {
        color:#fff;
        font-size: 15px;
    }

    .nav-pills>li>a {
    border-radius: 0px;
    color: #fff;
    border:1px solid #fff;
    }

    .nav > li > a:focus, .nav > li > a:hover {
     /*background-color: #cc4e0b;*/
     background-color: #03244d;
    text-decoration: none;
    color: #fff; 
	/*color: #cc4e0b; */
    }
    
    /*This controls the border of an open dropped menu */
    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
        border-color: #cc4e0b;
        color: #03244d;
    }

    .dropdown-menu > li > a:hover {
    /*color: #cc4e0b;*/
    text-decoration: none;
    background-color: #ddd !important;  /*was #fff*/
    color: #333 !important;
    border-color: #fff;
    }
    
     /*Inverted Tabs*/
 
    .nav-tabs-invert>li>a:hover {
    	 /*new background*/
	 background-color: #fff;
	 /*border-color: #fff #fff #ddd;*/
	 color: #03244d;
	 border-bottom-color: #cc4e0b;
    }

    .nav-tabs-invert>li>a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid #03244d; 
        border-radius: 4px 4px 0 0;
        background-color:#fff;
        border-bottom: 5px solid #ddd; 
    }    
    
    .format-tabs-invert {
        background-color: #fff;
        font-size: 15px;
    }

    .format-items-invert {
        color:#03244d;
        font-size: 15px;
    }

    .nav-pills-invert>li>a {
    border-radius: 0px;
    color: #03244d;
    border:1px solid #03244d;
    }
    
/* Other Styling */

    .bg-fixed {
        background-attachment: fixed;
        background-image:url(http://coe.eng.auburn.edu/oir/images/StudentCenter_Background.jpg); 
        background-position:center center; 
        background-size:cover;
    }

    .snapshot {
        color: #fff;
        background-color: #03244d;
        overflow: hidden;
        text-align: center;
    }
    
    .snapshot-heading{
        text-align: center; 
        margin: 30px;
    }
    
    .snapshot-group {
    	clear: left;
    	width: 100%;
     }
    
    .snapshot-figure {
        color: #cc4e0b;
        text-align: center;
        font-size: 32px;
    }
    
    .snapshot-span-2 {
        float: left;
        margin: 10px;
        max-width: 45%;
        font-size: 18px;
        text-align: center;
    }
    
    .outside-links {
        color: #496e9c;
        text-align: center;
    }
    
    .factbook {
        background-color: #fff;
        color: #fff;
        text-align: center;
    }
    
    .factbook_heading_background {
        background-color: #cc4e0b;
    }
    
    .factbook_heading {
        color: #fff;
        display: table-cell;
        vertical-align: middle;
    }
    
    .factbook_desc {
        color: #000;
        font-size: 20px;
        margin: 10px;
        padding: 10px;
        text-align: left;
        display: table-cell;
        vertical-align: middle; 
    } 
    
    .factbook_category {
        background-color: #03244d;
        margin: 15px;
        padding: 15px;
        min-width: 330px;
    }
    
    .factbook_button {
        background-color: #cc4e0b;
    }
    
    .factbook_button:hover {
        color: #03244d;
    }
    
    .bg-blend {
    	 background-image:url(http://coe.eng.auburn.edu/oir/images/ToomersBlend.jpg);
    	 background-position:center center;
    	 background-size:cover;
    	 height: 100%;
    }
    
    .blend-text {
        color: #fff;
        text-align: center;
        background: rgb(107, 85, 48);  /* Fallback */
        background: rgb(107, 85, 48, 1.0);
    }
    
    .blend-graph-size {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 100%;
    }
    
    .graduation-bg {
         background-image:url(http://coe.eng.auburn.edu/oir/images/GraduationCeremony_Background.jpg);
    	 background-position:center center;
    	 background-size:cover;
    	 height: 100%;
    }
    
    .gr-links {
        color: #03244d;
        text-align: center;
    }
    
    .bubble-background {
        background-color: #03244d;
    }
    
    .bubble-section {
       display: block; 
       margin: 0 auto; 
       width: 250px;
    }
    
    .bubble {
        float: left;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        color: #fff;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding: 10px;
    }
    
    .bubble a {
        border-bottom-style: none;
    }
    
    .bubble-odd {
        background-color: #496e9c;
    }
    
    .bubble-even {
        background-color: #f68026;
    }
    
    .bubble-fancy {
        font-size: 24px;
        font-family: Georgia;
        font-style: italic;
        font-weight: bold;
    }
    
    .bubble-text {
        margin: 15px;
        font-size: 18px;
        font-weight: bold;
    }
    
    .bubble-text-even {
        color: #03244d;
    }
    
    .bubble-button {
        text-align: center;
        font-size: 20px;
    }
    
    .bubble-button:hover {
        color: #03244d;
    }

    .bottomrow {
      font-weight: bold;
      font-size: large;
      border-bottom-style: solid;
      border-width: 2px;
      border-color: #496e9c;
    }
  
    .toprow {
      text-align: center;
      font-weight: bold;
      font-size: large;
      border-top-style: solid;
      border-width: 2px;
      border-color: #f8a76a;
    }  
   
    .singlerow {
      font-weight: bold;
      font-size: large;
      border-style: solid;
      border-color: #f8a76a #fff #496e9c #fff;
    }
    
    .total {
     font-weight: bold;
    }

    .grandtotal {
    font-weight: bold;
    font-size: large;
    }  
    
@media screen and (min-width:1297px) {
    .snapshot-span {
        max-width: 30%;
        text-align: center;
    }
}
    
@media screen and (min-width:1000px) {
    .bubble {
        display: inline-block;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        color: #fff;
        vertical-align: middle;
        text-align: center;
    }
    
    .bubble-section {
    	 display: block;
    	 margin: 0 auto;
    	 width: 750px;
    }
    

}

@media screen and (min-width:768px) {
	.factbook_heading {
        height: 529px;
    }
	.factbook_desc {
        height: 529px;
    }
    
    
}

/*GDPR styling */

#gdpr{
    background-color:#03244d; 
    bottom:0; 
    color:#fff; 
    opacity:0.97; 
    position:fixed; 
    text-align:center; 
    width:100%; 
    z-index:1050;
}
#gdpr div{
    display:inline-block; 
    margin:5px auto; 
    max-width:700px; 
    padding:15px;
}
#gdpr p{
    line-height:1.4; 
    padding:5px 0;
}
#gdpr a{
    color:#fff;
    font-weight:bold; 
    text-decoration-style: dashed;
}
#gdpr button{
    border:0;
}
#gdpr button.close{
    color:#fff; 
    float:right; 
    margin:-11px -5px 0 0; 
    opacity:.8;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
